* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: aqua;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 25px 10%;
}

button {
  font-size: 1.5rem;
  color: red;
  margin-left: 1rem;
}


